<html>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <head>
    <meta charset="utf-8" />
    <title>talk</title>
    <link rel="stylesheet" href="/sonTalk.css" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="body_container">
        <a href="/chatlist">
            <div class="backContainer">
                <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/rightDirection2.png?raw=true" />
            </div>
        </a>
    <div class="body_lower">
        <center>
            <div class="a">
                <button class="btn btn-info" type="button">컴잇 채팅방 </button>
            </div>
            <div class="b">
                <textarea class="form-control" id="chatLog" readonly></textarea>
                <div class="form_container">
                    <form id="chat">
                        <div class="form-control" id="name" type="text">
                            <%= user.nickname %>
                        </div>
                        <input class="form-control" id="message" type="text" />
                        <button class="btn btn-primary" type="submit">
                            <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/rightDirection2.png?raw=true" />
                        </button>
                    </form>
                </div>
            </div>
        </center>
    </div>
  </div>
  </body>
  <script>
      const showFixed = () =>{
      var box = document.getElementById("boxContainer");
      if(box.style.display == "none"){
        box.style.display = "flex";
      }
      else{
        box.style.display = "none";
      }
    }
    var socket = io();

    // 전송 버튼을 누를 때 - 1
    $('#chat').on('submit', function(e) {
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val('');
        $('#message').focus();
        e.preventDefault();
    });

    // 이름 셋팅 - 2
    socket.on('create name', function(name) {
        $('#name').val(name);
    });

    // 메세지를 받았을 때 - 3
    socket.on('receive message', function(msg) {
        $('#chatLog').append(msg + '\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
    });
</script>
</html>