<html>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <head>
    <meta charset="utf-8" />
    <title>profile</title>
    <link rel="stylesheet" href="/sonProfile.css" type="text/css" />
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="body_container">
      <div class="body_header">
        <div class="upper_header">
            <div class="left_header">
                <span>프로필</span>
            </div>
        </div>
        <!--
        <div class="lower_header">
            <a href="/comitFind" target="_self">
                <div class="menu" id="new_customer">
                    <div class="menu_text"><span>친구 찾기</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="#" target="_self">
                <div class="menu" id="ing_customer">
                    <div class="menu_text"><span>프로필</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="/comitTalk" target="_self">
                <div class="menu" id="fin_customer">
                    <div class="menu_text"><span>채팅방</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="/comitMyProfile" target="_self">
                <div class="menu" id="stop_customer">
                    <div class="menu_text"><span>내 프로필</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
        </div>
        -->
      </div>
      <div class="main_container">
        <div class="user_container">
          <div class="user_img_container">
              <img src="" alt="" id="image">
          </div>
          <div class="user_name">
              <span id="nickname"></span>
          </div>
          <div class="hashtag_container">
            <span class="hashtag">#애완동물 반갑습니다#애완동물 반갑습니다#애완동물 반갑습니다#애완동물 반갑습니다</span>
          </div>
        </div>
        <a href="/comitTalk">
          <button class="chat_btn">채팅하기</button>
        </a>
      </div>
    </div>
    <p0> <%= users.length %></p0>
      <% for (var i = 0; i < users.length; i++) { %>
        <p1> 
          <%= users[i].nickname %>
        </p1>
        <p2> 
          <%= users[i].image %>
        </p2>
        <p3>
          <%= users[i].like %>
        </p3>
        <% } %>
        <div class="fixedContainer" onclick="showFixed()">
          <div class="fixed">
            <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/menu4.png?raw=true" />
          </div>
        </div>
        <div id="boxContainer">
          <a href="/comitFind">
            <div class="fixedBox">
              <span>지도로 가기</span>
            </div>
          </a>
          <a href="/comitTalk">
            <div class="fixedBox1">
              <span>채팅 목록</span>
            </div>
          </a>
          <a href="/comitMyProfile">
            <div class="fixedBox2">
              <span>내 프로필</span>
            </div>
          </a>
        </div>
  </body>
  <script>
    const showFixed = () =>{
      var box = document.getElementById("boxContainer");
      if(box.style.display == "none"){
        box.style.display = "flex";
      }
      else{
        box.style.display = "none";
      }
    }
    var index;
    if(localStorage.getItem('DBindex')) {
      index = localStorage.getItem('DBindex');
      console.log(index);
    }
    nicknames = $("p1").text().split('\n');
    nicknames = nicknames.filter(function(s) {
      return Number(s) != 0;
    });
    images = $("p2").text().split('\n');
    images = images.filter(function(s) {
      return Number(s) != 0;
    });
    likes = $("p3").text().split('\n');
    likes = likes.filter(function(s) {
      return Number(s) != 0;
    });
    $("#nickname").html(nicknames[index]);
    $("#image").attr("src", images[index]);
    $(document).ready(function() {
      $("p0").hide();
      $("p1").hide();
      $("p2").hide();
      $("p3").hide();
    });
    
  </script>
</html>