<html>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <head>
    <meta charset="utf-8" />
    <title>profile</title>
    <link rel="stylesheet" href="sonProfile.css" />
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="body_container">
      <div class="body_header">
        <div class="upper_header">
            <div class="left_header">
                <span>컴잇</span>
            </div>
        </div>
        <div class="lower_header">
            <a href="comitFind.html" target="_self">
                <div class="menu" id="new_customer">
                    <div class="menu_text"><span>친구 찾기</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="#" target="_self">
                <div class="menu" id="ing_customer">
                    <div class="menu_text"><span>프로필</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="comitTalk.html" target="_self">
                <div class="menu" id="fin_customer">
                    <div class="menu_text"><span>채팅방</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
            <a href="comitMyProfile.html" target="_self">
                <div class="menu" id="stop_customer">
                    <div class="menu_text"><span>내 프로필</span></div>
                    <div class="menu_underbar"></div>
                </div>
            </a>
        </div>
      </div>
      <div class="main_container">
        <div class="user_container">
          <div class="user_img_container">
              <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/person.png?raw=true" />
          </div>
          <div class="user_name">
              <span>홍길동</span>
          </div>
          <div class="hashtag_container">
            <span class="hashtag">#애완동물</span>
            <span class="hashtag">#카페</span>
            <span class="hashtag">#알고리즘</span>
            <span class="hashtag">#영화</span>
            <span class="hashtag">#방탈출</span>
          </div>
        </div>
        <a href="comitTalk.html">
          <button class="chat_btn">채팅하기</button>
        </a>
      </div>
    </div>
  </body>
  <script>
  </script>
</html>