<html>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <head>
    <meta charset="utf-8" />
    <title>talk</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css?display=swap);
@font-face {
  font-family: "Nanum Gothic", sans-serif;
}
* {
  font-family: "Nanum Gothic", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: none;
}
.body_container {
  display: flex;
  position: relative;
  flex-direction: column;
}
.body_container .backContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  z-index: 2;
}
.body_container .backContainer img {
  width: 70px;
  height: 70px;
  object-fit: fill;
  transform: rotate(180deg);
}
.body_container .body_lower {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.btn.btn-info {
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: none;
  border: none;
  background-color: #f1afaa;
  border: none;
  margin: 0px;
  padding: 0px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eee;
  z-index: 2;
  color: #000;
  font-weight: 600;
}
.body_container .body_lower .b {
  min-width: 400px;
  width: 100%;
  height: 520px;
  background-color: #f1afaa;
  border: none;
}
.body_container .body_lower .b .form_container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.body_container .body_lower .b .form_container #chat {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.body_container .body_lower .b .form_container #name {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  border-right: solid;
  border-width: 1px;
  border-color: #ddd;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.body_container .body_lower .b .form_container #message {
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 30px;
}
.body_container .body_lower .b .form_container .btn-primary {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: #ed6f63;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}
.body_container .body_lower .b .form_container .btn-primary img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  filter: invert(1);
  border: none;
}
.body_container .body_lower .b #chatLog {
  min-width: 400px;
  width: 100%;
  height: 450px;
  border: none;
  background: none;
  padding: 15px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}
center {
}
.fixedContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.fixedContainer .fixed {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #d02316;
  border-radius: 1000px;
  cursor: pointer;
}
.fixedContainer .fixed img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: invert(1);
}
#boxContainer {
  display: none;
}
#boxContainer .fixedBox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 82px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 117px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 152px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .body_container .body_header .upper_header {
    height: 10vh;
  }
  .body_container .body_lower {
    min-height: 90vh;
  }
  .body_container .body_header .upper_header .left_header span {
    font-size: 80px;
  }
  .fixedContainer .fixed {
    width: 150px;
    height: 150px;
  }
  #boxContainer .fixedBox {
    bottom: 200px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox1 {
    bottom: 320px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox2 {
    bottom: 440px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer span {
    font-size: 55px;
  }
  center {
    width: 100% !important;
    height: 100vh !important;
  }
  .a {
    height: 90px !important;
  }
  .a button {
    height: 90px !important;
    font-size: 40px !important;
  }
  .b {
    height: calc(100vh - 90px) !important;
  }
  #chatlog {
    height: calc(100% - 80px) !important;
  }
}
    </style>
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="body_container">
        <a href="/chatlist">
            <div class="backContainer">
                <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/rightDirection2.png?raw=true" />
            </div>
        </a>
    <div class="body_lower">
        <center>
            <div class="a">
                <button class="btn btn-info" type="button">컴잇 채팅방 </button>
            </div>
            <div class="b">
                <textarea class="form-control" id="chatLog" readonly></textarea>
                <div class="form_container">
                    <form id="chat">
                        <div class="form-control" id="name" type="text">
                            <%= user.nickname %>
                        </div>
                        <input class="form-control" id="message" type="text" />
                        <button class="btn btn-primary" type="submit">
                            <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/rightDirection2.png?raw=true" />
                        </button>
                    </form>
                </div>
            </div>
        </center>
    </div>
  </div>
  </body>
  <script>
      const showFixed = () =>{
      var box = document.getElementById("boxContainer");
      if(box.style.display == "none"){
        box.style.display = "flex";
      }
      else{
        box.style.display = "none";
      }
    }
    var socket = io();

    // 전송 버튼을 누를 때 - 1
    $('#chat').on('submit', function(e) {
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val('');
        $('#message').focus();
        e.preventDefault();
    });

    // 이름 셋팅 - 2
    socket.on('create name', function(name) {
        $('#name').val(name);
    });

    // 메세지를 받았을 때 - 3
    socket.on('receive message', function(msg) {
        $('#chatLog').append(msg + '\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
    });
</script>
</html>