<html>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <head>
    <meta charset="utf-8" />
    <title>talk</title>
    <link rel="stylesheet" href="/sonTalk.css" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="body_container">
      <div class="body_header">
          <div class="upper_header">
              <div class="left_header">
                  <span>컴잇</span>
              </div>
          </div>
          <!--
          <div class="lower_header">
              <a href="/comitFind" target="_self">
                  <div class="menu" id="new_customer">
                      <div class="menu_text"><span>친구 찾기</span></div>
                      <div class="menu_underbar"></div>
                  </div>
              </a>
              <a href="/comitProfile" target="_self">
                  <div class="menu" id="ing_customer">
                      <div class="menu_text"><span>프로필</span></div>
                      <div class="menu_underbar"></div>
                  </div>
              </a>
              <a href="#" target="_self">
                  <div class="menu" id="fin_customer">
                      <div class="menu_text"><span>채팅방</span></div>
                      <div class="menu_underbar"></div>
                  </div>
              </a>
              <a href="/comitMyProfile" target="_self">
                  <div class="menu" id="stop_customer">
                      <div class="menu_text"><span>내 프로필</span></div>
                      <div class="menu_underbar"></div>
                  </div>
              </a>
          </div>
          -->
      </div>
    
    <div class="body_lower">
        <center>
            <div class="a">
                <button class="btn btn-info" type="button">컴잇 채팅방 </button>
            </div>
            <div class="b">
                <textarea class="form-control" id="chatLog" readonly> </textarea>
                <div class="form_container">
                    <form id="chat">
                        <input class="form-control" id="message" type="text" />
                        <button class="btn btn-primary" type="submit">
                            <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/rightDirection2.png?raw=true" />
                        </button>
                    </form>
                </div>
            </div>
        </center>
    </div>
  </div>
  <div class="fixedContainer" onclick="showFixed()">
    <div class="fixed">
      <img src="https://github.com/Yoonlang/web-programming/blob/master/html/assets/menu4.png?raw=true" />
    </div>
  </div>
  <div id="boxContainer">
    <a href="/comitFind">
      <div class="fixedBox">
        <span>지도로 가기</span>
      </div>
    </a>
    <a href="/chatlist">
      <div class="fixedBox1">
        <span>채팅 목록</span>
      </div>
    </a>
    <a href="/comitMyProfile">
      <div class="fixedBox2">
        <span>내 프로필</span>
      </div>
    </a>
  </div>
  </body>
  <script>
      const showFixed = () =>{
      var box = document.getElementById("boxContainer");
      if(box.style.display == "none"){
        box.style.display = "flex";
      }
      else{
        box.style.display = "none";
      }
    }
    var socket = io();

    // 전송 버튼을 누를 때 - 1
    $('#chat').on('submit', function(e) {
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val('');
        $('#message').focus();
        e.preventDefault();
    });

    // 이름 셋팅 - 2
    socket.on('create name', function(name) {
        $('#name').val(name);
    });

    // 메세지를 받았을 때 - 3
    socket.on('receive message', function(msg) {
        $('#chatLog').append(msg + '\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
    });
</script>
</html>