<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/login.css" type="text/css"/>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
  <!-- 스크롤 움직이기 -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  <script>
    $(document).ready(function () {
      $('#kakao-login-btn').click(function () {
        var offset = $('#div2').offset();
        $('html').animate({ scrollTop: offset.top }, 400);
      });
    });
  </script>

  <div id="div1" class="div1">
    <!-- <button id="btn1"></button> -->
    <section id="bg1">
      <div class="bg">
        <h2 id="title">컴잇 </br> <span>컴퓨터학부를 잇다</span></h2>
      </div>
      <div class="wrap">
        <a id="kakao-login-btn"></a>
      </div>
      <a href="http://developers.kakao.com/login"></a>
      <script type='text/javascript'>
        var id = null;
        var nickname = null;
        var image = null;

        Kakao.init('e1312a8c9d7419235dbd507b6ed66499'); //api

        Kakao.Auth.createLoginButton
          ({
            container: '#kakao-login-btn',
            success: function (authObj) {
              var offset = $('#div2').offset();
              $('html').animate({ scrollTop: offset.top }, 400);
              console.log("success!");
              Kakao.API.request
                ({
                  url: '/v2/user/me',
                  success: function (response) {
                    id = response['id'];
                    nickname = response.properties['nickname'];
                    image = response.properties['profile_image'];
                    console.log(id, nickname, image);
                    document.getElementById('id').value = id;
                    document.getElementById('nickname').value = nickname;
                    document.getElementById('image').value = image;
                  }
                })
            },
            fail: function (err) {
              alert(JSON.stringify(err));
            }
          });
      </script>
    </section>
  </div>
  <div id="div2" class="div2">
    <section id="bg2">
      <form action="/posts/store" method="POST">
        <table class="submit_table">
          <tr class="table1">
            <td id="label">
              <h3>ID</h3>
            </td>
            <td>
              <input required type="number" name="id" id="id" value="" size="70%">
            </td>
          </tr>

          <tr>
            <td id="label">
              <h3>Nickname</h3>
            </td>
            <td>
              <input required readonly type="text" name="nickname" id="nickname" value="" size="70%">
            </td>
          </tr>

          <tr>
            <td id="label">
              <h3 class="imgLabel">Image</h3>
            </td>
            <td id="labelText">
              <input required readonly type="text" name="image" id="image" value="" size="70%">
              <span id="showSpan" onclick="showImg()">사진 보기</span>
              <div class="imgBox">
                <img id="showImage"/>
              </div>
            </td>
          </tr>

          <tr>
            <td id="label">
              <h3 class="imgLabel">학생증</h3>
            </td>
            <td id="labelText">
              <input required type="file" name="studentID" id="studentID" value="" size="70%">
              <span>학생증 사진 첨부</span>
            </td>
          </tr>

        </table>
        <div id="guide">해당 내용은 로그인 후, 수정 가능합니다.</div>
        <button type="submit" class="button">시 작 하 기</button>
      </form>
      <script>
        document.cookie = "safeCookie1=foo; SameSite=Lax"; 
        document.cookie = "safeCookie2=foo"; 
        document.cookie = "crossCookie=bar; SameSite=None; Secure";
        var bg1 = document.getElementById("bg1");
        var bg2 = document.getElementById("bg2");

        setInterval(function () {
          var color = Math.random() * 0xffffff;
          color = parseInt(color);
          color = color.toString(16);

          bg1.style.background = "#" + color;
          bg2.style.background = "#" + color;

        }, 3000);
        const showImg = () => {
          var url = document.getElementById("image").value;
          var span = document.getElementById("showSpan");
          span.style.display = "none";
          var image = document.getElementById("showImage");
          image.src= url;
          image.style.display = "flex";
        }
      </script>
    </section>
  </div>
  </body>
</html>