<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts/store" method="POST">
        <input type="text" name="id" id="id">
        <input type="text" name="nickname" id="nickname">
        <input type="text" name="like" id="like">
        <input type="text" name="latitude" id="latitude">
        <input type="text" name="longitude" id="longitude">
        <button type="submit">완료</button>
    </form>
</body>
</html>