<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>:: COMit 관리시스템 ::</title>
    <link rel="stylesheet" type="text/css" href="/public/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/layout_admin.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style_admin.css" />
</head>
<script>
	function w_open(p_url, p_name, p_width, p_height, p_top, p_left){
	window.open(p_url, p_name, "width="+p_width+", height="+p_height+", left="+p_left+", top="+p_top+", resizable=no, scrollbars=auto");
}
</script>
<body>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <h1 class="logo">COMit 관리자 페이지</h1>
        </div>

        <div id="container">

            <div id="a_side">
                <h2 class="left_title">카테고리</h2>
                <div class="gnb_box">
                    <ul class="gnb">
                        <li class="over">
                            <dl>
                                <dt onclick="location.href='/views/admin/cate1.html';">가입신청 처리</dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt onclick="location.href='/views/admin/cate2.html';">회원정보 관리</dt>
                                <dd onclick="location.href='/microorganism/effect_list.php?cate=0203';">효능·부작용</dd>
                                <dd onclick="location.href='/microorganism/probiotics_list.php?cate=0201';">원재료(대분류)
                                </dd>
                                <dd onclick="location.href='/microorganism/microorganism_list.php?cate=0202';">원재료(소분류)
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt onclick="location.href='/views/admin/cate3.html';">신고 내역</dt>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="btn_area01"><input type="button" value="로그아웃" class="darkblue_btn"
                        onclick="location.href='/logout.php';"></div>
            </div>

            <div id="content">
                <h3>가입신청 리스트</h3>
                <table class="default_table">
                    <colgroup>
                        <col width="60">
                        <col width="80">
                        <col width="120">
                        <col width="100">
                        <col width="120">
                        <col width="120">
                        <col width="400">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>No</th>
                            <th>닉네임</th>
                            <th>항목1</th>
                            <th>항목2</th>
                            <th>항목3</th>
                            <th>항목4</th>
                            <th>학생증 사진</th>
                            <th>가입일</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>박재완</td>
                            <td>aa@aa.aa</td>
                            <td>남자</td>
                            <td>60대 이상 </td>
                            <td>페이스북</td>
                            <td onclick="w_open('popup.html', '가입신청 처리', '850', '700', '100', '500');">링크</td>
                            <td>2020-10-06</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paging">
                    <ul class="clearfix">
                        <li class="box now_page">1</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- footer -->
    </div>
</body>