<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>:: COMit 관리시스템 ::</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/layout_admin.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style_admin.css" />
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <h1 class="logo">COMit 관리자 페이지</h1>
        </div>

        <div id="container">

            <div id="a_side">
                <h2 class="left_title">카테고리</h2>
                <div class="gnb_box">
                    <ul class="gnb">
                        <li>
                            <dl>
                                <dt onclick="location.href='/views/admin/cate1.html';">가입신청 처리</dt>
                            </dl>
                        </li>
                        <li class="over">
                            <dl>
                                <dt onclick="location.href='/views/admin/cate2.html';">회원정보 관리</dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt onclick="location.href='/views/admin/cate3.html';">신고 내역</dt>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="btn_area01"><input type="button" value="로그아웃" class="darkblue_btn"
                        onclick="location.href='/logout.php';"></div>
            </div>

            <div id="content">
                <h3>회원 리스트</h3>
                <table class="default_table">
                    <colgroup>
                        <col width="40">
                        <col width="120">
                        <col width="80">
                        <col width="60">
                        <col width="660">
                        <col width="150">
                        <col width="150">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>No</th>
                            <th>id</th>
                            <th>닉네임</th>
                            <th>관심사</th>
                            <th>프로필사진</th>
                            <th>latitude</th>
                            <th>longitude</th>
                            <th>학생증</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1817415847</td>
                            <td>박재완</td>
                            <td>운동</td>
                            <td>http://k.kakaocdn.net/dn/dwPBuO/btq5BmEZUPc/vFrQu6TGakk4mx9vuvIVm1/img_110x110.jpg</td>
                            <td>35.874569620576</td>
                            <td>128.61614642621</td>
                            <td style="cursor: pointer;text-decoration-line: underline;"
                                onclick="w_open('popup.html', '가입신청 처리', '850', '700', '100', '500');">클릭</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1814760999</td>
                            <td>박정민</td>
                            <td>운동</td>
                            <td>http://k.kakaocdn.net/dn/sUUJi/btq8cfBPHpG/tju9pJftY5qA72mi2822G1/img_110x110.jpg</td>
                            <td>35.874569620576</td>
                            <td>128.61614642621</td>
                            <td style="cursor: pointer;text-decoration-line: underline;"
                                onclick="w_open('popup.html', '가입신청 처리', '850', '700', '100', '500');">클릭</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1815761871</td>
                            <td>황아영</td>
                            <td>운동</td>
                            <td>http://k.kakaocdn.net/dn/7ugPm/btq9vikAwdy/2QJwetXoLmhnniEc8cmZH0/img_110x110.jpg</td>
                            <td>35.874569620576</td>
                            <td>128.61614642621</td>
                            <td style="cursor: pointer;text-decoration-line: underline;"
                                onclick="w_open('popup.html', '가입신청 처리', '850', '700', '100', '500');">클릭</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>1817158983</td>
                            <td>최윤석</td>
                            <td>운동</td>
                            <td>http://k.kakaocdn.net/dn/cxFa5l/btq8BiFF4TX/4jGDx4f7phLA5z5DW6DWE1/img_110x110.jpg</td>
                            <td>35.874569620576</td>
                            <td>128.61614642621</td>
                            <td style="cursor: pointer;text-decoration-line: underline;"
                                onclick="w_open('popup.html', '가입신청 처리', '850', '700', '100', '500');">클릭</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paging">
                    <ul class="clearfix">
                        <li class="box now_page">1</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- footer -->
    </div>
</body>