<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>:: COMit 관리시스템 ::</title>
    <link rel="stylesheet" type="text/css" href="/public/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/layout_admin.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style_admin.css" /></head>

<body>
    <div id="wrap">
        <div id="login_area">
            <h1 class="login_h1">COMit</h1>
            <div class="h1_subtitle">ADMINISTRATOR</h2>
            <div class="login_box">
                <div class="login_info">관리자 시스템에 오신 것을 환영합니다.</div>
                <form name="login_frm" method="post" action="cate1.html" onsubmit="return form_chk(this);">
                    <ul class="login_form">
                        <li class="id"><input type="text" name="uid" value="" placeholder="아이디" /></li>
                        <li class="pw"><input type="password" name="upw" value="" placeholder="비밀번호" /></li>
                    </ul>
                    <div class="login_btn"><input type="submit" value="로그인"></div>
                </form>
            </div>
        </div>
</body>

</html>