<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>:: COMit 관리시스템 ::</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/popup.css" />
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1>학생증 사진 확인</h1>
        </div>
        <div id="container">
            <div class="btn_area02">
                <img class="picture" src="/public/images/capture1.jpg">
                <div id="content">
                    <h3>회원등록</h3>
                    <form name="write_frm" method="post" action="effect_update.php">
                        <input type="hidden" name="effect_id" value="">
                        <input type="hidden" name="page" value="1">
                        <table class="detail_table">
                            <colgroup>
                                <col width="20%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>이름</th>
                                    <td><input type="text" name="effect_name" value="" class="size200"
                                            placeholder="이름을 입력하세요" required=""></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_area01">
                            <input type="submit" value="승인" class="darkblue_btn">
                            <input type="submit" value="거절" class="darkgray_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>