<div id="wrap">
    <div id="header" class="check_list">
        <h1>기능성원재료정보 선택(다중 선택가능)</h1>
    </div>
    <div id="container">
        <form name="search_frm" method="post" action="" onsubmit="return form_chk(this);">
        <ul class="field_list">
                    <li><label><input type="checkbox" name="functionality_filed" class="functionality_filed" value="598|Weissella cibaria">&nbsp;&nbsp;Weissella cibaria</label></li>
                    <li><label><input type="checkbox" name="functionality_filed" class="functionality_filed" value="206|기타 D-말티톨">&nbsp;&nbsp;기타 D-말티톨</label></li>
                    <li><label><input type="checkbox" name="functionality_filed" class="functionality_filed" value="207|기타 D-소비톨">&nbsp;&nbsp;기타 D-소비톨</label></li>
                    <li><label><input type="checkbox" name="functionality_filed" class="functionality_filed" value="334|전분 카사바전분">&nbsp;&nbsp;전분 카사바전분</label></li>
                </ul>
        <div class="btn_area01"><input type="submit" value="선택완료" class="darkblue_btn"></div>
        </form>
    </div>
</div>