<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>:: 컴잇 관리시스템 ::</title>
    <link rel="stylesheet" type="text/css" href="/default.css" />
    <link rel="stylesheet" type="text/css" href="/popup.css" />
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1>학생증 사진 확인</h1>
        </div>
        <div id="container">
            <div class="btn_area02">
                <img class="picture" src="/images/capture1.jpg">
                <div id="content">
                    <h3>회원등록</h3>
                    <form name="write_frm" onsubmit="window.close()">
                        <div class="btn_area01">
                            <input type="submit" value="승인" class="darkblue_btn">
                            <input type="submit" value="거절" class="darkgray_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>