@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css?display=swap);
@font-face {
  font-family: "Nanum Gothic", sans-serif;
}
* {
  font-family: "Nanum Gothic", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.body_container {
  display: flex;
  position: relative;
  flex-direction: column;
}
.body_container .body_header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.body_container .body_header .upper_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #d02316;
}
.body_container .body_header .upper_header .left_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
}
.body_container .body_header .upper_header .left_header span {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  word-spacing: -8px;
  white-space: nowrap;
}
.body_container .body_header .lower_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.body_container .body_header .lower_header a {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
}
.body_container .body_header .lower_header .menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.1s;
}
.body_container .body_header .lower_header .menu:hover {
  cursor: pointer;
  background: rgba(208, 35, 22, 0.3);
}
.body_container .body_header .lower_header .menu .menu_text {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.body_container .body_header .lower_header .menu .menu_text span {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
}
.body_container .body_header .lower_header .menu .menu_underbar {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d02316;
}
.body_container .body_header .lower_header #stop_customer .menu_underbar {
  visibility: visible;
}
.main_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 30px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.user_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
}
.user_container .user_img_container {
  width: 200px;
  height: 200px;
}
.user_container .user_img_container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.user_container .user_name {
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
}
.user_container .user_name span {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}
.user_container .hashtag_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  height: 100%;
  padding: 15px;
  overflow: hidden;
}
.user_container .hashtag_container .hashtag {
  text-align: center;
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-bottom: solid;
  border-color: #d02316;
  border-width: 2px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  background: none;
}
.main_container .update_btn {
  margin-top: 50px;
  width: 120px;
  height: 40px;
  outline: none;
  background-color: #fff;
  border-bottom: solid;
  border-color: #d02316;
  border-width: 2px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s;
}
.main_container .update_btn:hover {
  cursor: pointer;
  background-color: rgba(208, 35, 22, 0.2);
}
.modal_container {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.modal_container .modal_box {
  display: block;
  width: 350px;
  height: 400px;
  background-color: #fafafa;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
  filter: invert(0);
  padding: 25px 30px 30px 30px;
}
.modal_container .modal_box .item_container {
  width: 100%;
  height: calc(100% - 60px);
}
.modal_container .modal_box .item_container .item_span {
  font-weight: 600;
  font-size: 16px;
}
.modal_container .modal_box .item_container .select_item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 288px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 15px 0px 25px 0px;
  padding: 15px 15px;
}
.modal_container .modal_box .item_container .select_item .input_container {
  display: flex;
  position: relative;
  align-items: center;
  width: calc(100% / 3);
  height: 30px;
}
.modal_container
  .modal_box
  .item_container
  .select_item
  .input_container
  input {
  margin-right: 10px;
}
.modal_container
  .modal_box
  .item_container
  .select_item
  .input_container
  .upper_text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.modal_container .modal_box .btn_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}
.modal_container .modal_box .btn_container button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #d02316;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.modal_container .modal_box .btn_container button span {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
}
.modal_container .modal_box .modal_cancel {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
}
.modal_container .modal_box .modal_cancel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.modal_container .modal_box_after {
  display: none;
  width: 350px;
  height: 400px;
  background-color: #fafafa;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
  filter: invert(0);
  padding: 25px 30px 30px 30px;
}
.modal_container .modal_box_after .modal_cancel {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
}
.modal_container .modal_box_after .modal_cancel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.modal_container .modal_box_after .item_container {
  width: 100%;
  height: calc(100% - 60px);
}
.modal_container .modal_box_after .item_container .item_span {
  display: block;
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 4px;
}
.modal_container .modal_box_after .item_container .fir {
  margin-bottom: 80px;
}
.modal_container .modal_box_after .item_container .sec {
  color: #d02316;
}
.modal_container .modal_box_after .item_container .thr {
  margin-top: 30px;
}
.modal_container .modal_box_after .btn_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}
.modal_container .modal_box_after .btn_container button {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  background-color: #808080;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.modal_container .modal_box_after .btn_container button span {
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
}
.fixedContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.fixedContainer .fixed {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #d02316;
  border-radius: 1000px;
  cursor: pointer;
}
.fixedContainer .fixed img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: invert(1);
}
#boxContainer {
  display: none;
}
#boxContainer .fixedBox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 82px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 117px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 152px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .body_container .body_header .upper_header {
    height: 10vh;
  }
  .body_container .body_lower {
    min-height: 90vh;
  }
  .body_container .body_header .upper_header .left_header span {
    font-size: 80px;
  }
  .fixedContainer .fixed {
    width: 150px;
    height: 150px;
  }
  #boxContainer .fixedBox {
    bottom: 200px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox1 {
    bottom: 320px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox2 {
    bottom: 440px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer span {
    font-size: 55px;
  }
}
