@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css?display=swap);
@font-face {
  font-family: "Nanum Gothic", sans-serif;
}
* {
  font-family: "Nanum Gothic", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: none;
}
.body_container {
  display: flex;
  position: relative;
  flex-direction: column;
}
.body_container .body_header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.body_container .body_header .upper_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #d02316;
}
.body_container .body_header .upper_header .left_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
}
.body_container .body_header .upper_header .left_header span {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  word-spacing: -8px;
  white-space: nowrap;
}
.body_container .body_header .lower_header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.body_container .body_header .lower_header a {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
}
.body_container .body_header .lower_header .menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.1s;
}
.body_container .body_header .lower_header .menu:hover {
  cursor: pointer;
  background: rgba(208, 35, 22, 0.3);
}
.body_container .body_header .lower_header .menu .menu_text {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.body_container .body_header .lower_header .menu .menu_text span {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
}
.body_container .body_header .lower_header .menu .menu_underbar {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d02316;
}
.body_container .body_header .lower_header #fin_customer .menu_underbar {
  visibility: visible;
}
.body_container .body_lower {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 60px);
  height: 100%;
}
.btn.btn-info {
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: none;
  border: none;
  background-color: #f1afaa;
  border: none;
  border-radius: 20px 20px 0px 0px;
  margin: 0px;
  padding: 0px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eee;
  z-index: 2;
  color: #000;
  font-weight: 600;
}
.body_container .body_lower .b {
  min-width: 400px;
  width: 100%;
  height: 520px;
  background-color: #f1afaa;
  border: none;
  border-radius: 0px 0px 20px 20px;
}
.body_container .body_lower .b .form_container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.body_container .body_lower .b .form_container #chat {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.body_container .body_lower .b .form_container #name {
  width: 20%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  border-right: solid;
  border-width: 1px;
  border-color: #ddd;
  text-align: center;
}
.body_container .body_lower .b .form_container #message {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
}
.body_container .body_lower .b .form_container .btn-primary {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: #ed6f63;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}
.body_container .body_lower .b .form_container .btn-primary img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  filter: invert(1);
  border: none;
}
.body_container .body_lower .b #chatLog {
  min-width: 400px;
  width: 100%;
  height: 450px;
  border: none;
  background: none;
  padding: 15px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}
center {
}
.fixedContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.fixedContainer .fixed {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #d02316;
  border-radius: 1000px;
  cursor: pointer;
}
.fixedContainer .fixed img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: invert(1);
}
#boxContainer {
  display: none;
}
#boxContainer .fixedBox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 82px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 117px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer .fixedBox2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 152px;
  right: 30px;
  width: 100px;
  height: 30px;
  background-color: #d02316;
}
#boxContainer span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .body_container .body_header .upper_header {
    height: 10vh;
  }
  .body_container .body_lower {
    min-height: 90vh;
  }
  .body_container .body_header .upper_header .left_header span {
    font-size: 80px;
  }
  .fixedContainer .fixed {
    width: 150px;
    height: 150px;
  }
  #boxContainer .fixedBox {
    bottom: 200px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox1 {
    bottom: 320px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer .fixedBox2 {
    bottom: 440px;
    right: 30px;
    width: 300px;
    height: 100px;
  }
  #boxContainer span {
    font-size: 55px;
  }
  center {
    width: 80%;
    height: 900;
  }
  .a {
    height: 90px !important;
  }
  .a button {
    height: 90px !important;
    font-size: 40px !important;
  }
  .b {
    height: 800px !important;
  }
  #chatlog {
    height: 720px !important;
  }
}
